.login__form {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 510px;
  label {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.44px;
    text-align: left;
    color: #373737;
    margin-bottom: 8px;
  }
  input {
    border: 1px solid #969393;
    outline: none;
    height: 70px;
    box-shadow: 1px 3px 3px 0px #00000003;
    padding: 8px 20px;
    font-size: 20px;
    margin-bottom: 30px;
    border-radius: 2px;
    &:focus {
      border: 1px solid #33a0ff;
    }
  }
  button {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 800;
    line-height: 32.74px;
    letter-spacing: -0.02em;
    text-align: center;
    background: #33a0ff;
    height: 70px;
    border: none;
    color: #fff;
    padding: 8px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s;
    &:active {
      border-radius: 2px;
    }
  }
}
