.product {
  margin: 50px 0;
  .product__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 285px);
    gap: 35px;
    .product__card {
      padding: 10px;
      border: 2px solid #f6f7f8;
      border-radius: 5px;
      height: 330px;
      .product__img {
        text-align: center;
        position: relative;
        img {
          width: 250px;
          height: 200px;
          object-fit: contain;
        }
        .wishes--cart {
          position: absolute;
          width: 100%;
          height: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 30px;
          background: #0001;
          bottom: 0;
          transform-origin: bottom;
          transform: scaleY(0);
          transition: 0.2s;
          z-index: 10;
          button {
            padding: 5px;
            background: #fff;
            border: none;
            border-radius: 6px;
            cursor: pointer;
            transition: 0.2s;
            &:active {
              transform: scale(0.9);
            }
            svg {
              font-size: 24px;
            }
          }
        }
        &:hover {
          .wishes--cart {
            transform: scaleY(1);
          }
        }
      }
      .product__about {
        padding: 10px 0;
        .product__title {
          font-family: Poppins;
          font-size: 18px;
          font-weight: 700;
          width: 200px;
          margin: 0 auto;
          line-height: 27px;
          letter-spacing: 0.5px;
          text-align: center;
          color: #223263;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          overflow: hidden;
        }
        .product__rating {
          text-align: center;
          display: flex;
          align-items: center;
          gap: 10px;
          justify-content: center;
          margin-top: 6px;
          margin-bottom: 10px;
          .product__star {
            font-size: 14px;
            color: #ffc600;
          }
        }
        .product__price {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 13px;
          h4 {
            font-family: Poppins;
            font-size: 18px;
            font-weight: 700;
            line-height: 32.4px;
            letter-spacing: 0.5px;
            text-align: left;
            color: #40bfff;
          }
          span {
            font-family: Poppins;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0.5px;
            text-align: left;
            color: #9098b1;
            text-decoration: line-through;
          }
          p {
            font-family: Poppins;
            font-size: 14px;
            font-weight: 700;
            line-height: 21px;
            letter-spacing: 0.5px;
            text-align: left;
            color: #fb7181;
          }
        }
      }
    }
  }
}
