.why__us__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  .why__us__card {
    max-width: 200px;
    text-align: center;
    h4 {
      font-family: Poppins;
      font-size: 27px;
      font-weight: 500;
      line-height: 40.5px;
      text-align: center;
      color: #22262a;
      margin: 30px 0 10px;
    }
    p {
      font-family: Poppins;
      font-size: 18px;
      font-weight: 400;
      line-height: 21.92px;
      text-align: center;
      color: #22262a;
    }
  }
  @media screen and (max-width: 700px) {
    flex-direction: column;
    gap: 30px;
    .why__us__card {
      padding: 20px;
      // border: 1px solid #ddd;
      max-width: 100%;
      border-radius: 8px;
      box-shadow: 4px 4px 10px #0001;
      transition: 0.2s;
      &:hover {
        background: #bcddfe;
      }
    }
  }
}
